.homepageTitle {
  margin: 0 auto;
  max-width: 600px;
}

.homepageTitle h1 {
  color: #f9f5d2;
  font-family: "Bodoni 72", "Courier", "serif";
  font-size: 36px;
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
}