.homepageContent {
  color: #f9f5d2;
  font-family: "Courier", "serif";
  font-size: 14px;
  font-weight: 700;
  line-height: 0.8;
  margin-bottom: 25px;
  text-align: center;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}