.homepageButtons {
  bottom: 0;
  height: 3em;
  position: absolute;
  width: 100%;
}

.socialMediaButtons {
  text-align: center;
}

.iconDivide {
  border-bottom: 26px solid #f9f5d2;
  border-left: 2px solid #f9f5d2;
  margin: 0 7px 0;
  vertical-align: top;
}
